<!DOCTYPE html>
<html>
  <head><% include ../partials/page/head.ejs %></head>
  <body class="<%= bodyClass %>">
    <% include ../partials/page/header.ejs %>

    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center"><%= title %></h1>

        <form method="post" action="/pads">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Pad Name">
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Enter Location">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="3" name="description" placeholder="Describe your pad..."></textarea>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group">
              <div class="input-group-addon">£</div>
              <input type="text" class="form-control" id="price" name="price" placeholder="Price per night">
              <div class="input-group-addon">.00</div>
            </div>
          </div>
          <div class="form-group">
            <label for="available-from">Available From</label>
            <input type="date" class="form-control" id="available-from" name="availableFrom">
          </div>
          <div class="form-group">
            <label for="available-to">Available To</label>
            <input type="date" class="form-control" id="available-to" name="availableTo">
          </div>
          <button type="submit" class="btn btn-primary pull-right">List my pad</button>
        </form>
      </div>
    </div>

    <% include ../partials/page/footer.ejs %>
  </body>
</html>
