<!DOCTYPE html>
<html>
  <head><% include ../partials/page/head.ejs %></head>
  <body>
    <% include ../partials/page/header.ejs %>

    <div class="container">
      <div class="col-md-6 col-md-offset-3">

        <% if (success_msg.length > 0) { %>
          <div class="alert alert-success"><%= success_msg[0] %></div>
        <% } %>

        <h1 class="text-center"><%= title %></h1>

        <form action="/sessions" method='post'>

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
          </div>

          <button type="submit" class="btn btn-primary pull-right">Sign In</button>
        </form>
      </div>
    </div>

    <% include ../partials/page/footer.ejs %>
  </body>
</html>
